<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>南方阀门</title>
  <link href="/jsoneditor.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.7.0/echarts.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/106/three.min.js"></script>
  <script src=
          "/particles.min.js"
  ></script>
  <script src=
          "/jsoneditor.js"
  ></script>
  <style>
    .background {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom:0;
      z-index: 0;
    }
  </style>
</head>
<body>

<div id="root"></div>

</body>
</html>
